body{
    background-color: rgb(201, 201, 236);
    margin: 0;
}
h1{
    margin: 0;
    background-color: blue;
    text-align: center;
    width: 250px;
    margin: auto;
}
h2{
    text-align: center;
    background-color: blue;
    clear: both;
    width: 100%;
    margin-top: 260px;
    height: 30px;
}
#global{
    background-color: pink;
    width: 50%;
    height: 300px;
    margin: 0 25% 0 25%;
    border: solid 5px black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.cuadrado{
    float: left;
    width: 33%;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    border-bottom:solid 3px black;
    border-left: solid 1px black;
}