body{
    background-color: rgb(201, 201, 236);
    margin: 0;
}
h1{
    margin: 0;
    background-color: blue;
    text-align: center;
    
}
#global{
    background-color: pink;
    width: 50%;
    height: 300px;
    margin: 0 25% 0 25%;
    border: solid 5px black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.cuadrado{
    float: left;
    
    width: 33%;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    border-bottom:solid 3px black;
    border-right: solid 1px black;
}